@media (min-width: 1394px) and (max-width: 3000px){
	body {
	  padding-top: 0px;
	}
}

@media (min-width: 911px) and (max-width: 1213px){
	body {
	  padding-top: 75px;
	}
}

@media (min-width: 768px) and (max-width: 910px){
	body {
	  padding-top: 130px;
	}
}

@media (min-width: 701px) and (max-width: 767px){
	body {
	  padding-top: 0px;
	}
}


@media (min-width: 300px) and (max-width: 767px){
	div.navbar-default {
		position:static;
	}
}

@media (min-width: 768px) and (max-width: 2000px){
div.navbar-default {
	position: fixed;
	min-height: 50px;
	width: 100%;
	z-index :8;
	top: 0;
}

.container {
margin-top:70px !important;
}